.weatherlater {
	float: right;
	background-color: #1CA5C2;
	width: 40%;
	height: 15%;
	margin-top: 5%;
	margin-left: 50%;
}

.iconweatherlater {
	width: 22%;
	padding-top: 20%;
	padding-left: 5px;
	float: left;
	margin-right: 3%;
}

.groundstate {
	color: white;
	margin-top: 5%;
}

.groundstatetxt{
	font-size: 90%;
}
